{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<main class="container mt-1 mb-3 my-lg-5 flex-shrink-0">

    <header class="row">
        <div class="d-flex align-items-center col-auto col-lg-12">
            <h1 class="fw-bold mb-0">{{ request.user.username | capfirst }}</h1>
        </div>
        {% include '../components/profile_nav.html' %}
    </header>

    <div class="row mt-2 mt-lg-5 justify-content-lg-between">
        <nav class="navbar navbar-light col-2 d-none d-lg-block">
            <ul class="profile-nav navbar-nav flex-column gap-4">
                <li class="nav-item"><a class="nav-link"
                    href="{% url 'read_profile_posts' pk=request.user.pk %}">{% trans "Activity" %}</a>
            </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'update_profile' pk=request.user.pk %}">{% trans "Edit profile" %}</a></li>
                <li class="nav-item"><a class="nav-link active"
                        href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
                </li>
            </ul>
        </nav>
        <div class="col-1 vr p-1 me-5 d-none d-lg-block"></div>
        <div class="col-12 col-lg-9">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-outline-primary btn-hover__blue w-100 mt-3" type="submit"
                    name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}