{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Create post" %}{% endblock %}

{% block content %}

<main class="container flex-shrink-0">
    <div class="row offset-m-5 my-3 my-lg-5">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary btn-fill__blue" type="submit">{% trans "Post" %}</button>
                <a class="btn btn-outline-secondary" href="{{ request.META.HTTP_REFERER }}">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</main>

{% endblock%}