{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Delete post" %}{% endblock %}

{% block content %}

<main class="container flex-shrink-0">
    <h1 class="my-5">{% trans "Delete the post: " %} {{ post.title }}</h1>

    <p>{% trans "Are you sure you want to delete this post?" %}</p>
    <p>{% trans "It cannot be restored once it's deleted." %}</p>

    <form class="mt-5" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-dark" type="submit">{% trans "Delete" %}</button>
        <a class="btn btn-outline-dark" href="{{ request.META.HTTP_REFERER }}">{% trans "Cancel" %}</a>
    </form>

</main>

{% endblock %}