{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container">

    <div class="d-flex align-items-center my-5">
        <div class="flex-grow-1">
            <h1 class="fw-bold text-capitalize">{{ request.path | slice:"7:-1" }}</h1>
        </div>
        {% if user.is_authenticated %}
        <div>
            <a class="btn btn-sm btn-dark" href="{% url 'create_post' %}">{% trans "Add a post" %}</a>
        </div>
        {% endif %}
    </div>
    {% if posts %}
    <div class="row d-none d-md-none d-lg-flex">
        <div class="col-9">
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <strong class="fs-5">{% trans "Title" %}</strong>
                </div>
                <div class="col-md-6 col-lg-2 text-center">
                    <strong class="fs-5">{% trans "User" %}</strong>
                </div>
                <div class="col-md-6 col-lg-1 text-center">
                    <strong class="fs-5">{% trans "Date" %}</strong>
                </div>
            </div>
        </div>
        <div class="col-2 text-center">
            <strong class="fs-5">{% trans "Comments" %}</strong>
        </div>
        <div class="col-1 text-center">
            <strong class="fs-5">{% trans "Likes" %}</strong>
        </div>
    </div>
    {% endif %}
    <hr class="d-none d-md-none d-lg-flex my-3">
    {% if not posts %}
    <p class="fs-3">{% trans "There are no posts in this category." %}</p>
    {% endif %}
    {% for post in posts %}
    <div class="row mb-3">
        <div class="col-9">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <a class="fw-bold link-dark text-decoration-none"
                        href="{% url 'read_post' category_slug=post.category.slug post_id=post.id %}">{{ post.title }}</a>
                </div>
                <div class="col-4 col-lg-2 text-start text-lg-center">
                    <a class="fw-bold link-dark text-decoration-none">{{ post.author }}</a>
                </div>
                <div class="col-8 col-lg-1 text-start text-lg-center">
                    <strong>{{ post.updated_on | date:'d/m/Y' }}</strong>
                </div>
            </div>
        </div>
        <div class="col-2 text-center d-flex align-items-center justify-content-center">
            <i class="d-inline d-lg-none p-2 fa-solid fa-comment-dots"></i>
            <strong>{{ post.number_of_comments }}</strong>
        </div>
        <div class="col-1 text-center d-flex align-items-center justify-content-center">
            <i class="d-inline d-lg-none p-2 fa-solid fa-heart"></i>
            <strong>{{ post.number_of_likes }}</strong>
        </div>
    </div>
    {% endfor %}

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; PREV </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}"> NEXT &laquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}