{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{{ request.path | slice:"7:-1" | capfirst }}{% endblock %}

{% block content %}

<main class="container flex-shrink-0 d-flex flex-column flex-grow-1">

    <div class="d-flex align-items-center mt-5 mb-2 mb-lg-5">
        <div class="flex-grow-1">
            <h1 class="fw-bold text-secondary text-capitalize">{{ request.path | slice:"7:-1" }}</h1>
        </div>
        {% if user.is_authenticated %}
        <div>
            {% with request.path|slice:"7:-1" as param %}
            <a class="btn btn-primary btn-fill__blue" href="{% url 'create_post' category_slug=param %}">{% trans "Create post" %}</a>
            {% endwith %}
        </div>
        {% endif %}
    </div>
    {% if posts %}
    <div class="row d-none d-lg-flex">
        <div class="col-9">
            <div class="row">
                <div class="col-9">
                    <p class="mb-0 fs-5 text-secondary">{% trans "Title" %}</p>
                </div>
                <div class="col-2 text-center">
                    <p class="mb-0 fs-5 text-secondary">{% trans "User" %}</p>
                </div>
                <div class="col-1 text-center">
                    <p class="mb-0 fs-5 text-secondary">{% trans "Date" %}</p>
                </div>
            </div>
        </div>
        <div class="col-2 text-center">
            <p class="mb-0 fs-5 text-secondary">{% trans "Comments" %}</p>
        </div>
        <div class="col-1 text-center">
            <p class="mb-0 fs-5 text-secondary">{% trans "Likes" %}</p>
        </div>
    </div>
    {% endif %}
    <hr class="my-3 hr">
    {% if not posts %}
    <p class="fs-3">{% trans "There are no posts in this category." %}</p>
    {% endif %}
    {% include '../components/post_list_layout.html' %}

    {% include '../components/pagination.html' %}

</main>

{% endblock %}