{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{{ post.title }}{% endblock %}

{% block content %}

<main class="container flex-shrink-0">
    <div class="row mt-3 mt-lg-5">
        <div class="col-12">
            <p><a href="{% url 'post_list' category_slug=post.category.slug %}" aria-label="Back to the post list"><i
                        class="fa-solid fa-arrow-left" aria-hidden="true"></i></a> {{ post.category }}
            </p>
        </div>
    </div>
    {% if user.id == post.author.id %}
    <div class="row my-3 my-lg-4">
        <div class="col-12">
            <li class="btn-group">
                <a class="btn btn-sm btn-outline-secondary"
                    href="{% url 'update_post' category_slug=post.category.slug pk=post.id %}">{% trans "Edit" %}</a>
                <a class="btn btn-sm btn-outline-secondary"
                    href="{% url 'delete_post' category_slug=post.category.slug pk=post.id %}">{% trans "Delete" %}</a>
            </li>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold">{{ post.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <small><a class="link-dark text-decoration-none"
                    href="{% url 'read_profile' pk=post.author.id %}">{{ post.author }}</a> |
                {{ post.updated_on | date:'d/m/Y H:i' }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ post.body | safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' pk=post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button class="border-0 bg-transparent" type="submit" name="post_id" value="{{ post.id }}" aria-label="Heart symbol icon"><i
                            class="fas fa-heart heart-fill" aria-hidden="true"></i></button>
                    {% else %}
                    <button class="border-0 bg-transparent" type="submit" name="post_id" value="{{ post.id }}" aria-label="Heart symbol icon"><i
                            class="far fa-heart heart-outline" aria-hidden="true"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart" aria-hidden="true" title="Total number of users who liked this post"></i></span>
                <span class="sr-only">{% trans "Total number of users who liked this post:" %}</span>
                {% endif %}
                <span class="text-secondary"> {{ post.number_of_likes }}</span>
            </strong>
        </div>
    </div>
    <hr class="mt-3 mt-lg-5 mb-3">
    <div class="row">
        <div class="col-12">
            <h2>{% trans "Comments" %}</h2>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row position-relative mt-2 mb-2 mb-lg-4">
        <form class="col-12" method="POST">
            {% csrf_token %}
            {{ comment_form | crispy }}
            {% if new_comment %}
            <button class="btn btn-primary btn-fill__blue position-absolute position-end" type="submit">{% trans "Add" %}</button>
            {% else %}
            <li class="btn-group btn-group-sm position-absolute position-end">
                <button class="btn btn-primary btn-fill__blue" type="submit">{% trans "Edit" %}</button>
                <a class="btn btn-outline-secondary btn-fill__white" href="{{ request.META.HTTP_REFERER }}">{% trans "Cancel" %}</a>
            </li>
            {% endif %}
        </form>
    </div>
    {% endif %}
    {% for comment in comments %}
    <div class="d-flex align-items-center">
        <div class="align-self-center">
            <small><a class="link-dark text-decoration-none"
                    href="{% url 'read_profile' comment.author.id %}">{{ comment.author }}</a> |
                {{ comment.updated_on | date:'d/m/Y H:i' }}</small>
        </div>
        {% if user.id == comment.author.id %}
        <div class="ms-auto">
            <li class="btn-group">
                <a class="btn btn-sm btn-outline-secondary btn-hover__blue"
                    href="{% url 'update_comment' category_slug=post.category.slug post_id=post.id pk=comment.pk %}">{% trans "Edit" %}</a>
                <a class="btn btn-sm btn-outline-secondary btn-hover__blue"
                    href="{% url 'delete_comment' category_slug=post.category.slug post_id=post.id pk=comment.pk %}">{% trans "Delete" %}</a>
            </li>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12">
            <p class="fs-5">{{ comment.body }}</p>
        </div>
    </div>
    {% endfor %}
</main>

{% endblock %}