/*--------------- Google fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------- Custom properties ---------------*/

:root {
    --red-color: #db2a37;
    --blue-color: #0c51ab;
    --green-color: #56aa35;
    --orange-color: #f57b23;
}

/*--------------- Basic styling ---------------*/

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
}

/*=============== Header ===============*/

.navbar-brand {
    display: flex;
    align-items: center;
    width: 20vw;
    max-width: 5rem;
}

.logo {
    width: 100%;
    height: auto;
}

.nav-link {
    position: relative;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    background-color: var(--red-color);
}

.dropdown {
    margin: 1rem 0;
}

/*--------------- Profile page side nav ---------------*/

.profile-nav {
    padding: 12px;
}

.profile-nav .nav-link.active {
    font-weight: 700;
}

.profile-nav .nav-link.active::after {
    background-color: var(--blue-color);
}

/*=============== Footer ===============*/

.footer-item {
    width: 1.5rem;
}

.footer-link {
    border: none;
    width: 2rem;
    background-color: inherit;
    cursor: pointer;
}

.footer-link:hover .footer-icon-path {
    fill: var(--orange-color);
}

.footer-icon-path {
    fill: var(--bs-gray-600);
}

/*=============== Forms ===============*/

.controls,
.textinput,
.emailinput,
.textarea {
    width: 100%;
}

.controls {
    margin: .3rem 0 1rem;
}

.textinput,
.emailinput,
.textarea {
    padding: .5rem;
    border: 1px solid var(--bs-gray-400);
    border-radius: 10px;
}

.help-block {
    font-size: .75rem;
}

.position-end {
    right: .8rem;
    bottom: 100%;
}

/*=============== Buttons ===============*/

.btn-fill__blue,
.btn-hover__blue:hover {
    border-color: var(--blue-color);
    background-color: var(--blue-color);
    color: #fff;
}

.btn-fill__green,
.btn-hover__green:hover {
    border-color: var(--green-color);
    background-color: var(--green-color);
    color: #000;
}

.btn-fill__white {
    background-color: #fff;
}

/*--------------- Post like buttons ---------------*/

.heart-fill,
.heart-outline {
    color: var(--blue-color);
}

/*=============== Homepage ===============*/

/*--------------- Hero section ---------------*/

.hero-section {
    background: url('../img/home/stroke.jpg');
    height: 90vh;
    max-height: 50rem;
}

.hero-image-container {
    height: 50%;
}

.hero-image {
    max-width: 100%;
}

/*--------------- Category images ---------------*/

.card-group {
    display: grid;
    grid-template-columns: repeat(2, minmax(7.5rem, 1fr));
}

.card {
    max-height: 12rem;
}

.card:last-child {
    grid-column: span 2;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, .4);
}

/*=============== Category (post list) page ===============*/

/*--------------- Post list ---------------*/

.hover-underline:hover {
    text-decoration: underline var(--blue-color) 3px !important;
    text-underline-offset: .5rem;
}

/*--------------- Pagination ---------------*/

.pagination-sm > .active > .page-link {
    border-color: var(--blue-color);
    background-color: var(--blue-color);
    color: #fff;
}

/*--------------- Horizontal rule ---------------*/

.hr {
    border: 3px solid;
}

/*=============== Create post page ===============*/

#div_id_category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;
    margin-bottom: 2rem;
    width: fit-content;
}

#div_id_category>.controls {
    margin: unset;
}

.asteriskField {
    display: none;
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/

/*=============== For small size mobile phones (e.g. iPhone4) ===============*/

@media screen and (max-width: 350px) {

    /*--------------- Homepage ---------------*/

    .categories {
        margin-top: 3rem !important;
    }

}

/*=============== Bootstrap breakpoint for small screen size devices ===============*/

@media screen and (min-width: 576px) {

    /*--------------- Homepage ---------------*/

    .hero-section {
        background: url('../img/home/stroke_medium.jpg');
    }

    .categories {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    .card-group {
        display: flex;
        flex-flow: row wrap;
    }

    .card {
        min-width: 15rem;
        max-height: 27rem;
    }

}

/*=============== Bootstrap breakpoint for large screen size devices ===============*/

@media screen and (min-width: 992px) {

    /*--------------- Header ---------------*/

    .nav-link.active::after {
        width: 100%;
    }

    .dropdown-menu[data-bs-popper] {
        left: unset;
        right: 0;
    }

    /*--------------- Homepage ---------------*/

    .hero-section {
        background: url('../img/home/stroke_large.jpg');
    }

    .hero-text > h1 {
        text-align: left !important;
    }

    .hero-text {
        padding-left: 15rem;
    }

    .hero-image-container {
        height: unset;
    }

}