/*--------------- Google fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------- Custom properties ---------------*/

:root {
    --red-color: #db2a37;
    --blue-color: #0c51ab;
    --green-color: #56aa35;
    --orange-color: #f57b23;
}

/*--------------- Basic styling ---------------*/

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
}

/*=============== Header ===============*/

.navbar-brand {
    display: flex;
    align-items: center;
    width: 20vw;
    max-width: 5rem;
}

.dropdown {
    margin: 1rem 0;
}

/*=============== Form ===============*/

.controls,
.textinput {
    width: 100%;
}

.controls {
    margin: .3rem 0 1rem;
}

.textinput {
    padding: .5rem;
    border-radius: 10px;
}

.position-end {
    right: 1rem;
    top: 41%;
    transform: translateY(-50%);
}

/****************************************************************
************************* Media queries *************************
*****************************************************************/

@media screen and (min-width: 992px) {

    /*=============== Header ===============*/

    .dropdown-menu[data-bs-popper] {
        left: unset;
        right: 0;
    }
}