{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website for Korean people living in Ireland to share information.">
    <meta name="keywords" content="Korean in Ireland, Irish visas, rent, jobs">
    <meta name="author" content="Sejung Kwak">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Krie</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar sticky-top navbar-expand-lg border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="logo w-100" src="{% static 'img/logo.png' %}"
                    alt="K in red, R in blue, I in green, E in gold">
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#nav-items"
                aria-controls="nav-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-items">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold fs-5" href="#">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold fs-5" href="#">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold fs-5" href="#">Visas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold fs-5" href="#">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold fs-5" href="#">Random</a>
                    </li>
                </ul>
                <form class="d-flex" action="/" method="get">
                    <input class="form-control me-2" type="search" aria-label="Search" placeholder="Search">
                </form>
                <div class="btn-group my-2">
                    <button class="btn btn-outline-dark">Sign in</button>
                    <button class="btn btn-dark">Sign up</button>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
</body>

</html>