{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    {% if request.user == profile.user %}
        {% trans "Your profile" %}
    {% else %}
        {{ profile.user.username | capfirst }}{% trans "'s profile" %}
    {% endif %}
{% endblock %}

{% block content %}

<main class="container mt-1 mt-lg-5 flex-shrink-0">

    <header class="row">
        <div class="d-flex align-items-center col-auto col-lg-12">
            <h1 class="fw-bold mb-0">{{ profile.user.username | capfirst }}</h1>
        </div>
        {% if request.user == profile.user %}
            {% include '../components/profile_nav.html' %}
        {% endif %}
    </header>

    <div class="row mt-1 mt-md-4 mt-lg-5">
        {% if request.user == profile.user %}
        <nav class="navbar navbar-light col-2 d-none d-lg-block">
            <ul class="profile-nav navbar-nav flex-column gap-4">
                <li class="nav-item"><a class="nav-link active"
                    href="{% url 'read_profile_posts' pk=request.user.pk %}">{% trans "Activity" %}</a>
            </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'update_profile' pk=request.user.pk %}">{% trans "Edit profile" %}</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
                </li>
            </ul>
        </nav>
        <div class="col-1 vr p-1 me-5 d-none d-lg-block"></div>
        <div class="col-12 col-lg-9">
            {% else %}
            <div class="col-12">
                {% endif %}
                <div class="mb-4 mb-lg-5 btn-group">
                    <a class="btn btn-primary btn-fill__blue" href="{% url 'read_profile_posts' pk=profile.user.pk %}">{% trans "Posts" %}</a>
                    <a class="btn btn-outline-secondary btn-hover__blue" href="{% url 'read_profile_comments' pk=profile.user.pk %}">{% trans "Comments" %}</a>
                    <a class="btn btn-outline-secondary btn-hover__blue" href="{% url 'read_profile_about' pk=profile.user.pk %}">{% trans "About" %}</a>
                </div>
                <article class="row">
                    <section class="pe-lg-0 active col-12">
                        <div class="row w-100">
                            {% if posts %}
                                {% for post in page_obj %}
                                <div class="col-8 col-lg-10">
                                    <div class="row">
                                        <div class="col-12 col-lg-10 d-flex align-items-center justify-content-start">
                                            <a class="fs-5 fw-bold text-decoration-none text-dark hover-underline"
                                                href="{% url 'read_post' category_slug=post.category.slug post_id=post.id %}">{{ post.title }}</a>
                                        </div>
                                        <div class="col-12 col-lg-1 d-flex align-items-center justify-content-start">
                                            <small>{{ post.updated_on | date:'d/m/Y' }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-2 col-lg-1 gap-2 pe-0 text-center d-flex align-items-center justify-content-center">
                                    <svg class="icon-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path class="icon-path__black" d="M256 448c141.4 0 256-93.1 256-208S397.4 32 256 32S0 125.1 0 240c0 45.1 17.7 86.8 47.7 120.9c-1.9 24.5-11.4 46.3-21.4 62.9c-5.5 9.2-11.1 16.6-15.2 21.6c-2.1 2.5-3.7 4.4-4.9 5.7c-.6 .6-1 1.1-1.3 1.4l-.3 .3 0 0 0 0 0 0 0 0c-4.6 4.6-5.9 11.4-3.4 17.4c2.5 6 8.3 9.9 14.8 9.9c28.7 0 57.6-8.9 81.6-19.3c22.9-10 42.4-21.9 54.3-30.6c31.8 11.5 67 17.9 104.1 17.9zM128 272c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32zm128 0c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32zm160-32c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z"/></svg>
                                    <small>{{ post.number_of_comments }}</small>
                                </div>
                                <div
                                    class="col-2 col-lg-1 gap-2 pe-0 text-center d-flex align-items-center justify-content-end">
                                    <svg class="icon-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path class="icon-path__black" d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                                    <small> {{ post.number_of_likes }}</small>
                                </div>
                                <hr class="my-2">
                                {% endfor %}
                            {% else %}
                            <p class="col-12">{% trans "There are no posts by " %}{{ profile.user.username }}</p>
                            {% endif %}
                        </div>
                    </section>

                    {% include '../components/pagination.html' %}

                </article>
            </div>
        </div>
    </div>

</main>

{% endblock %}