{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% if request.user == profile.user %}
        {% trans "Your profile" %}
    {% else %}
        {{ profile.user.username | capfirst }}{% trans "'s profile" %}
    {% endif %}
{% endblock %}

{% block content %}

<main class="container mt-1 mt-lg-5 flex-shrink-0">
    <header class="row">
        <div class="d-flex align-items-center col-auto col-lg-12">
            <h1 class="fw-bold mb-0">{{ profile.user.username | capfirst }}</h1>
        </div>
        {% if request.user == profile.user %}
        <div class="col-auto d-flex d-lg-none">
            <div class="dropdown">
                <button class="btn btn-like" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gear fa-xl"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'read_profile_posts' pk=request.user.pk %}">{% trans "Activity" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'update_profile' pk=request.user.pk %}">{% trans "Edit profile" %}</a></li>
                    <li><a class="dropdown-item"
                            href="{% url 'account_change_password' %}">{% trans "Change password" %}</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </header>
    <div class="row mt-1 mt-md-4 mt-lg-5">
        {% if request.user == profile.user %}
        <nav class="navbar col-2 d-none d-lg-block">
            <ul class="profile-nav navbar-nav flex-column gap-4">
                <li class="nav-item"><a class="nav-link active"
                    href="{% url 'read_profile_posts' pk=request.user.pk %}">{% trans "Activity" %}</a>
            </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'update_profile' pk=request.user.pk %}">{% trans "Edit profile" %}</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
                </li>
            </ul>
        </nav>
        <div class="col-1 vr p-1 me-5 d-none d-lg-block"></div>
        <div class="col-12 col-lg-9">
            {% else %}
            <div class="col-12">
                {% endif %}
                <div class="mb-4 mb-lg-5 btn-group">
                    <a class="btn btn-outline-secondary btn-hover__blue" href="{% url 'read_profile_posts' pk=profile.user.pk %}">{% trans "Posts" %}</a>
                    <a class="btn btn-outline-secondary btn-hover__blue" href="{% url 'read_profile_comments' pk=profile.user.pk %}">{% trans "Comments" %}</a>
                    <a class="btn btn-primary btn-fill__blue" href="{% url 'read_profile_about' pk=profile.user.pk %}">{% trans "About" %}</a>
                </div>
                <article class="row">
                    <section class="pe-lg-0 col-12">
                        <div class="row w-100">
                            <div class="col-12 mb-5">
                                <h2>Location</h2>
                                    {% if profile.location %}
                                    <p>{{ profile.location }}</p>
                                    {% else %}
                                    <p>{{ profile.user.username | capfirst }}{% trans " hasn't shared their location." %}</p>
                                    {% endif %}
                            </div>
                            <div class="col-12">
                                <h2>About</h2>
                                    {% if profile.bio %}
                                    <p>{{ profile.bio }}</p>
                                    {% else %}
                                    <p>{{ profile.user.username | capfirst }}{% trans " hasn't shared their description." %}
                                    </p>
                                    {% endif %}
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</main>

{% endblock %}