{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% if request.user == profile.user %}
        {% trans "Your profile" %}
    {% else %}
        {{ profile.user.username | capfirst }}{% trans "'s profile" %}
    {% endif %}
{% endblock %}

{% block content %}

<main class="container mt-1 mt-lg-5 flex-shrink-0">
    <header class="row">
        <div class="d-flex align-items-center col-auto col-lg-12">
            <h1 class="fw-bold mb-0">{{ profile.user.username | capfirst }}</h1>
        </div>
        {% if request.user == profile.user %}
        <div class="col-auto d-flex d-lg-none">
            <div class="dropdown">
                <button class="btn btn-like" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gear fa-xl"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'read_profile_posts' pk=request.user.pk %}">{% trans "Activity" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'update_profile' pk=request.user.pk %}">{% trans "Edit profile" %}</a></li>
                    <li><a class="dropdown-item"
                            href="{% url 'account_change_password' %}">{% trans "Change password" %}</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </header>
    <div class="row mt-1 mt-md-4 mt-lg-5">
        {% if request.user == profile.user %}
        <nav class="navbar col-2 d-none d-lg-block">
            <ul class="profile-nav navbar-nav flex-column gap-4">
                <li class="nav-item"><a class="nav-link active"
                    href="{% url 'read_profile_posts' pk=request.user.pk %}">{% trans "Activity" %}</a>
            </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'update_profile' pk=request.user.pk %}">{% trans "Edit profile" %}</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
                </li>
            </ul>
        </nav>
        <div class="col-1 vr p-1 me-5 d-none d-lg-block"></div>
        <div class="col-12 col-lg-9">
            {% else %}
            <div class="col-12">
                {% endif %}
                <div class="mb-4 mb-lg-5 btn-group">
                    <a class="btn btn-outline-secondary btn-hover__blue" href="{% url 'read_profile_posts' pk=profile.user.pk %}">{% trans "Posts" %}</a>
                    <a class="btn btn-primary btn-fill__blue" href="{% url 'read_profile_comments' pk=profile.user.pk %}">{% trans "Comments" %}</a>
                    <a class="btn btn-outline-secondary btn-hover__blue" href="{% url 'read_profile_about' pk=profile.user.pk %}">{% trans "About" %}</a>
                </div>
                <article class="row">
                    <section class="pe-lg-0 col-12">
                        <div class="row w-100">
                            {% if comments %}
                                {% for comment in page_obj %}
                                <div class="col-12">
                                    <a class="fw-bolder text-black text-decoration-none" href="{% url 'read_post' category_slug=comment.original_post.category.slug post_id=comment.original_post.id %}">{{ comment.body }}</a>
                                </div>
                                <div class="col-12">
                                    <small>{{ comment.updated_on | date:'d/m/Y H:i' }}</small>
                                </div>
                                <div class="col-12">
                                    <a class="text-black text-decoration-none" href="{% url 'read_post' category_slug=comment.original_post.category.slug post_id=comment.original_post.id %}">{{ comment.original_post.title }}</a>
                                </div>
                                <hr class="my-2">
                                {% endfor %}
                            {% else %}
                            <p class="col-12">{% trans "There are no comments by " %}{{ profile.user.username }}</p>
                            {% endif %}
                        </div>
                    </section>

                    {% if is_paginated %}
                    <nav class="mt-auto" aria-label="Page navigation">
                        <ul class="pagination pagination-sm justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page=1" aria-label="First page"><span aria-hidden="true">{% trans "&laquo;" %}</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page"><span aria-hidden="true">{% trans "&lsaquo;" %}</span></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link text-dark" href="?page=1" aria-label="First page"><span aria-hidden="true">{% trans "&laquo;" %}</span></a>
                            </li>
                            <li class="page-item disabled"><span class="page-link">{% trans "&lsaquo;" %}</span></li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ i }}" aria-label="Current page"><span aria-hidden="true">{{ i }}</span></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}" aria-label="Page {{ i }}"><span aria-hidden="true">{{ i }}</span></a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}" aria-label="Next page"><span aria-hidden="true">{% trans "&rsaquo;" %}</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last page"><span aria-hidden="true">{% trans "&raquo;" %}</span></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">{% trans "&rsaquo;" %}</span></li>
                            <li class="page-item disabled">
                                <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last page"><span aria-hidden="true">{% trans "&raquo;" %}</span></a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}

                </article>
            </div>
        </div>
    </div>

</main>

{% endblock %}