{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Edit profile" %}{% endblock %}

{% block content %}

<main class="container mt-1 mb-3 my-lg-5 flex-shrink-0">
    <div class="row">
        <div class="d-flex align-items-center col-auto col-lg-12">
            <h1 class="fw-bold mb-0">{{ request.user.username | capfirst }}</h1>
        </div>
        <div class="col-auto d-flex d-lg-none">
            <div class="dropdown">
                <button class="btn btn-like" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gear fa-xl"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-decoration-underline" href="{% url 'update_profile' pk=request.user.pk %}">{% trans "Edit profile" %}</a></li>
                    <li><a class="dropdown-item"
                            href="{% url 'account_change_password' %}">{% trans "Change password" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-lg-5 justify-content-lg-between">
        <nav class="navbar col-2 d-none d-lg-block">
            <ul class="profile-nav navbar-nav flex-column gap-4">
                <li class="nav-item"><a class="nav-link"
                    href="{% url 'read_profile' pk=request.user.pk %}">{% trans "Activity" %}</a>
            </li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'update_profile' pk=request.user.pk %}">{% trans "Edit profile" %}</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
                </li>
            </ul>
        </nav>
        <div class="col-1 vr p-1 me-5 d-none d-lg-block"></div>
        <div class="col-12 col-lg-9">
            <form method="POST">
                {% csrf_token %}
                {{ user_form | crispy }}
                {{ profile_form | crispy }}
                <button class="btn btn-outline-primary btn-hover__blue w-100 mt-1 mt-lg-3" type="submit">{% trans "Update profile" %}</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}